files/
Roulette/.utmp/
Roulette/Library/
Roulette/Logs/
Roulette/Packages/
Roulette/ProjectSettings/
Roulette/Roulette_Android_BurstDebugInformation_DoNotShip/
Roulette/UserSettings/
Roulette/Roulette_Android.apk
